{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block page_content %}
<div class="content-section">
        <br>
        
          <h1 style="text-align:center;">Dashboard</h1>
          <div style="text-align: center">
          <a href="{{ url_for('admin.new_post') }}" class="btn btn-default">
            <i class="fa fa-plus"></i>
            New Post
          </a>
          </div>

          {% if posts %}

            <hr class="intro-divider">
              <table class="table table-striped table-bordered">
                <thead>
                  <tr>
                    <th width="15%">Title</th>
                    <th width="40%">Subtitle</th>
                    <th width="15%">Tags</th>
                    <th width="15%">Edit</th>
                    <th width="15%">Delete</th>
                  </tr>
                </thead>

                <tbody>

                  {% for post in posts %}
                    
                    <tr>
                      <td><a href="{{ url_for('home.post', id=post.id) }}">
                          {{ post.title }}
                        </a>
                      </td>
                      <td>{{ post.subtitle }}</td>
                      <td>{{ post.tags }}</td>
                      <td>
                        <a href="{{ url_for('admin.edit_post', id=post.id) }}">
                          <i class="fa fa-pencil"></i> Edit
                        </a>
                      </td>
                      <td>
                        <a href="{{ url_for('admin.delete_post', id=post.id) }}">
                          <i class="fa fa-trash"></i> Delete
                        </a>
                      </td>
                    </tr>
                    
                  {% endfor %}
                </tbody>
              </table>
                
              {% else %}

                <div style="text-align:center">
                  <h3> No posts have been added </h3>
                  <hr class="intro-divider">

          {% endif %}
        </div>
</div>
{% endblock %}
