{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block page_content %}
<div class="container">
  <div class="row">
    <div class="col-sm-9">
      <ul class="posts">

        {% for post in posts %}

          <a href="{{ url_for('home.post', id=post.id) }}">
            <li class="post">
              <div class="post-title page-header">
                {{ post.title }}
              <span class="post-date">{{ post.timestamp }}</span>
            </div>
            <div class="post-beginning">

              {% if post.body_html %}
              
                <p>{{ post.body_html[:300] | safe }}...</p>

              {% else %}

              <p>{{ post.body[:300] }}...</p>

              {% endif %}

            </div>
          </li>
        </a>

        {% endfor %}

      </ul>
    </div>
    <div class="col-sm-3">
      <div class=tags-title>Tags:</div>
      <ul class="tags">
       
        {% for tag in tags %}

          <a href="{{ url_for('home.tag_search', tag=tag) }}">
            <li class="tag">

              {{ tag }}({{ tag }})

            </li>
          </a>

        {% endfor %}
        
      </ul>
    </div>
  </div>
</div>

{% endblock %}
