{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block page_content %}

<ul class="posts">
  {% for post in posts %}

    <a href="{{ url_for('home.post', id=post.id) }}">
      <li class="post">
        <div class="post-title page-header">
          {{ post.title }}
        <span class="post-date">{{ post.timestamp }}</span>
      </div>
      <div class="post-beginning">
        {% if post.body_html %}
        
          <p>{{ post.body_html[:300] | safe }}...</p>

        {% else %}

        <p>{{ post.body[:300] }}...</p>

        {% endif %}

      </div>
    </li>
  </a>
  {% endfor %}
</ul>

{% endblock %}
