{% extends "base.html" %}

{% block title %} {{post.title}} {% endblock %}

{% block page_content %}
<div class='page_header'>
  <h3>{{ post.title }}</h3>
  <span>{{ post.timestamp }}</span>
</div>

<div class='post-tags'>
  <span>Tags:</span>

    {% for tag in tags %}

      <a href="{{ url_for('home.tag_search', tag=tag) }}" class="btn btn-xs
        btn-default">
        <span>{{ tag }}</span>
      </a>

    {% endfor %}

</div>

<div class='post-body'>
  {% if post.body_html %}
  
    <div>{{ post.body_html|safe }}</div>

  {% else %}

    <p>{{ post.body }}</p>

  {% endif %}

</div>
{% endblock %}

